.fondo1{
    background-image: url(https://images.deliveryhero.io/image/pedidosya/products/e3a3f7fa-6bed-4602-8deb-36d7d714c220.jpg?quality=80&amp;width=200&amp;height=150);
}
.fondo2{
    background-image: url(https://images.deliveryhero.io/image/pedidosya/products/b8d5f97e-33d3-416b-841e-a88076173890.jpg?quality=80&amp;width=200&amp;height=150);
}
.fondo3{
    background-image: url(https://images.deliveryhero.io/image/pedidosya/products/cc1e3428-93e6-4558-83fb-9787c54bdf2f.jpg?quality=80&amp;width=200&amp;height=150);
}